<!DOCTYPE html>
<html>
<head>
	<title>placeholder!</title>
</head>
<body>
<h2>This is a placeholder</h2>
<a href='/results'>Results</a>
<a href='/addtruck'>add a truck</a><br>

{% if 'user' not in request.session %}
	<h4><a href='/user'>login</a></h4>
{% else %}
	<h4>Welcome {{request.session.user.1}} <a href='/logout'>logout?</a></h4>
{% endif %}

<form action='/results' method='POST'>
	{% csrf_token %}
	
	Search?: <input type='text' name='pw'><br>
	
	Area: <select name="area" form="areaform">
		<option value="Washington DC">Washington DC</option>
		<!-- <option value="Other">Other, please specify</option> -->
	</select><br>

	<!-- need to autopopulate this list!!!! -->

	Style:<select name="style">
		{% for style in styles %}
			<option value="{{style.id}}">{{style.style}}</option>
		{% endfor %}
	</select><br>
	
	<input type='submit' value="I'm hungry!"><br>
	<input type='submit' value="Just show me the trucks!">
</form>

</body>
</html>