<!DOCTYPE html>
<html>
<head>
	<title>login or register</title>
</head>
<body>
<h2>Login or Register</h2>
<p style='color:green'><strong>{{message}}</strong></p>
<div id='register'>
<h3>I don't have an account!</h3>
<form action='/register' method='POST'>
	{% csrf_token %}
	Username: <input type='text' name='username'><br>
	Email: <input type='text' name='email'><br>
	Password: <input type='text' name='pw'><br>
	<p><i>*Password must be at least 8 characters, containing at least one capital and lowercase letter and at least one number</i></p>
	Confirm Password: <input type='text' name='cpw'><br>
	<input type='submit' value='Register'>
</form>
</div>
<div id='login'>
<h3>I have an account</h3>
<form action='/login' method='POST'>
	{% csrf_token %}
	Email: <input type='text' name='email'><br>
	Password: <input type='text' name='pw'><br>
	<input type='submit' value='Login'>
</form>
</div>
{% for error in errors %}
	<p style='color:red'><strong>{{error}}</strong></p>
{% endfor %}
</body>
</html>